{
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ".",
        "alias": {
          "#components": "./src/components",
          "#pages": "./src/pages",
          "#modules": "./src/modules",
          "#hooks": "./src/hooks",
        },
      },
    ],
  ],
}
